.App {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: blueviolet;
}

.backgrnd-1 {
  background-color: blueviolet;
}

.backgrnd-2 {
  background-color: greenyellow;
}

.navbar {
  background-color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* #condition rendering */ 

.container {
  display: flex;
  justify-content: center;
  background-color: #61dafb;
  justify-content: space-between;
  flex-direction: column;
}

.conditionrendering {
  display: flex;
  justify-content: center;
  background-color: blue;
  text-decoration: underline;
  height: 100px;
  color: aliceblue;
}

/* #condition rendering */ 


/* keys */

.keys {
  display: flex;
  /* justify-content: center; */
  background-color: yellow;
  flex-direction: row;
  justify-content: space-evenly;
}

/* keys */


